.Link{
    display: inline-block;
background-color: #3B5249;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    margin: 10px;
    margin-left: 0;


    &:hover {
        color: orange;
    }
}